{% extends "pc/layout.html"%} {% block content%}
<link rel="stylesheet" href="/css/pc/blog_deta.css">
<div class="header w">
    <div class="header-left">
        <!-- 精选手册模块 -->
        <div class="header-book">
            <p>
               <span>{{BlogaccList.title}} </span>      
                <span>收藏</span>
            </p>
            <span>{{BlogaccList.createdAt | dateforame}}</span>
            <div class="html_text">
                {{BlogaccList.html_text | safe}}
            </div>
        </div>
    </div>

    <div class="header-right-sider">
        {% include "./sider.html" ignore missing %}
    </div>
</div>
{% endblock%}