{% extends "pc/layout.html"%} {% block content%}
<link rel="stylesheet" href="/css/pc/home.css">
<div class="header w">
    <div class="header-left">
        <!-- 精选手册模块 -->
        <div class="header-book">
            <div class="header_book-title">
                <p>
                    精选手册
                </p>
                <a href="/book">
                    查看更多
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
           {% for item in bookList%}
            <div class="header-book-list">
                <a href="/book/{{item.id}}" class="book-list-a">
                    <img src="{{item.img}}">
                    <div class="book_title">
                        <p>{{item.title}}</p>
                        <span>{{item.createdAt | dateforame}}</span><br>
                        <button>阅读</button>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- 博客模块 -->
        <div class="header-book">
            <div class="header_book-title">
                <p>
                    精选手册
                </p>
                <a href="/blog">
                    查看更多
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
           {% for item in blogList%}
            <div class="header-book-list">
                <a href="/blog/{{item.id}}" class="book-list-a">
                    <img src="{{item.img}}">
                    <div class="book_title">
                        <p>{{item.title}}</p>
                        <span>{{item.createdAt | dateforame}}</span><br>
                        <div class="blog_html">{{item.html_text | safe}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="more">
                更多内容敬请期待
            </div>
        </div>
    </div>

    <div class="header-right-sider">
        {% include "./sider.html" ignore missing %}
    </div>
</div>
{% endblock%}